@import "tailwindcss";

@theme {
  /* The Nila Lime/Nature Palette */
  --color-nila-50: #f7fee7;
  --color-nila-100: #ecfccb;
  --color-nila-200: #d9f99d;
  --color-nila-300: #bef264;
  --color-nila-400: #a3e635;
  --color-nila-500: #84cc16; /* Brand Primary */
  --color-nila-600: #65a30d;
  --color-nila-800: #3f6212;
  --color-nila-900: #1a2e05; /* Deep Forest Text */

  --font-display: "Playfair Display", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  
  --ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-nila-900);
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
}

/* Hide Scrollbar */
::-webkit-scrollbar { display: none; }